body{
    display: flex;
    justify-content: center;
    background-color: #685858;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

/*Header styles*/

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.header_box{
    width: 80%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 3vw, 4rem);
    color: #383838 ;
    background-color: #d9d9dd;
    width: 100%;
    min-height: 2em;

    /*border roundness*/
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;

    box-shadow: 4px 4px 5px rgba(0, 0, 0,0.25);

}

/*Main section style*/
main{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100vw;
}

/*Mid container style*/
.mid_cont{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 338px 338px;
    place-items: center;
    place-content: center;

    background-color: #d9d9dd;
    width: 750px;
    height: 676px;

    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;

    box-shadow: 4px 4px 5px rgba(0, 0, 0,0.25);
}

    /*upper film style*/

#image_1{
    width: 172px ;
    height: 306px;
    grid-area: 1 / 1 / 2 / 2;
}

#image_2{
    width: 438px ;
    height: 306px;
    grid-area: 1 / 2 / 2 / 4;
}

#image_3{
    width: 438px ;
    height: 306px;
    grid-area: 2 / 1 / 3 / 3;
}

#image_4{
    width: 172px ;
    height: 306px;
    grid-area: 2 / 3 / 3 / 4;
}




/*side containers style*/

.side_cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    /*gap: 80px;*/
    background-color: #C5D9D6;
    width: 277px;
    height: 676px;

    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;

    box-shadow: 4px 4px 5px rgba(0, 0, 0,0.25)

}    

.side_cont h4{
    font-size: 20px;
    margin: 0;

}

.side_cont p{
    padding: min(1rem , 2%);
    margin: 0;
}